<%=will_paginate%>
<div>
<%@users.each do |user| %>
    <div>
      <%=link_to "#{user.first_name} #{user.surname} (#{user.bdate})", user_path(user.id) %>
      <b><%=user.email%></b>
      <%=image_tag user.avatar%>
    </div>
<%end%>
</div>

