<div class="platform-with-content">
  <a href="/" class="title-platform-with-content">
    <h2 class="title-content">Книги</h2>
    <div class="view-all-content">ЕЩЕ</div>
  </a>
  <% @ebooks.each do |ebook| %>
      <div class="block-book">
        <%= render 'shared/book', book: ebook %>
      </div>
  <% end %>
</div>


<div class="platform-with-content">
  <a href="/" class="title-platform-with-content">
    <h2 class="title-content">Аудиокниги</h2>
    <div class="view-all-content">ЕЩЕ</div>
  </a>
  <% @audiobooks.each do |audiobook| %>
      <div class="audiobook-block">
        <%= render 'shared/book', book: audiobook %>
      </div>
  <% end %>
</div>


